:root {
  --clr-background: hsl(230, 17%, 14%);
  /* Dark Blue (BG) */
  --clr-pattern: hsl(232, 19%, 15%);
  /* (Top BG Pattern) */
  --clr-card: hsl(228, 28%, 20%);
  /* Card BG */
  --clr-blue: hsl(228, 34%, 66%);
  /* Desaturated Blue (Text)*/
  --clr-white: hsl(0, 0%, 100%);
  /* White (Text) */
  --clr-hover: hsl(228, 26%, 27%);
  /* Card Hover */
  --clr-gradient: linear-gradient(
      90deg,
      hsl(210, 78%, 56%),
      hsl(146, 68%, 55%)
  );
  --clr-toggle: hsl(230, 22%, 74%);
  --blue: blue;
  --clr-lime-green: hsl(163, 72%, 41%);
  /* Lime Green (Text) */
  --clr-bright-red: hsl(356, 69%, 56%);
  /* Bright Red (Text) */
  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
}

.light-mode {
  --clr-background: hsl(0, 0%, 100%);
  /* White (BG) */
  --clr-pattern: hsl(225, 100%, 98%);
  /* (Top BG Pattern) */
  --clr-card: hsl(227, 47%, 96%);
  /* Card BG */
  --clr-blue: hsl(228, 12%, 44%);
  /* Dark Grayish Blue (Text) */
  --clr-white: hsl(230, 17%, 14%);
  /* Very Dark Blue (Text) */
  --clr-hover: hsl(232, 33%, 91%);
  /* Card Hover */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: var(--clr-background);
  transition: all 0.5s ease-in-out;
}

.plate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  z-index: -1;
  border-radius: 0 0 40px 40px;
  background: var(--clr-pattern);
  transition: all 0.5s ease-in-out;
}

.container {
  max-width: 1140px;
  margin: 20px auto;
}
.container .header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}
.container .header .tag {
  font-size: 25px;
  font-weight: 700;
  color: var(--clr-white);
}
.container .header .tag .totFollowers {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  color: var(--clr-blue);
}
.container .header .color-switch {
  display: flex;
  transition: all 0.5s ease-in-out;
}
.container .header .color-switch > span {
  color: var(--clr-blue);
  font-weight: 700;
  margin-top: 5px;
  margin-right: 15px;
}
.container .header .color-switch input[type=checkbox] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.container .header .color-switch .toggle {
  position: relative;
  display: block;
  width: 60px;
  height: 28px;
  background: var(--clr-gradient);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.container .header .color-switch .toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  background: var(--clr-card);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.container .header .color-switch input[type=checkbox]:checked ~ .toggle {
  background: var(--clr-toggle);
  transition: all 0.5s ease-in-out;
}
.container .header .color-switch input[type=checkbox]:checked ~ .toggle:hover {
  background: var(--clr-gradient) !important;
}
.container .header .color-switch input[type=checkbox]:checked ~ .toggle::before {
  transform: translateX(32px);
}
.container .socialSites,
.container .details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container .cards {
  background: var(--clr-card);
}
.container .cards:nth-child(1) > .line {
  background: var(--facebook);
}
.container .cards:nth-child(2) > .line {
  background: var(--twitter);
}
.container .cards:nth-child(3) > .line {
  background: var(--instagram);
}
.container .cards:nth-child(4) > .line {
  background: var(--youTube);
}
.container .line {
  height: 5px;
  background: var(--blue);
}
.container .userId {
  margin: 20px;
  color: var(--clr-blue);
  font-weight: 700;
}
.container .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: -10px;
  top: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.container .userCount {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  color: var(--clr-white);
  transition: all 0.5s ease-in-out;
}
.container .followers {
  letter-spacing: 4px;
  opacity: 0.5;
  color: var(--clr-blue);
}
.container .today {
  margin: 20px;
  font-size: 14px;
  color: var(--clr-lime-green);
  font-weight: 700;
}
.container .over {
  padding: 20px;
  font-weight: 700;
  font-size: 22px;
  color: var(--clr-white);
}
.container .scards {
  margin: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
}
.container .scards > div {
  margin: 20px 0 13px 20px;
  text-align: left;
}
.container .scards > .sub {
  font-weight: 700;
  color: var(--clr-blue);
  font-size: 14px;
}
.container .scards > .icon {
  margin: auto;
  left: 0px;
  border-radius: 3px;
}
.container .scards > .counts {
  font-size: 30px;
  font-weight: 700;
  color: var(--clr-white);
  transition: all 0.5s ease-in-out;
}
.container .scards > .perct {
  text-align: center;
  height: fit-content;
  margin: auto;
  color: var(--clr-lime-green);
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
}
.container .cards,
.container .scards {
  background: var(--clr-card);
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.container .cards:nth-child(1) .icon,
.container .scards:nth-child(1) .icon,
.container .scards:nth-child(2) .icon {
  background-image: url("./images/icon-facebook.svg");
}
.container .cards:nth-child(2) .icon,
.container .scards:nth-child(3) .icon,
.container .scards:nth-child(4) .icon {
  background-image: url("./images/icon-twitter.svg");
}
.container .cards:nth-child(3) .icon,
.container .scards:nth-child(5) .icon,
.container .scards:nth-child(6) .icon {
  background-image: url("./images/icon-instagram.svg");
}
.container .cards:nth-child(4) .icon,
.container .scards:nth-child(7) .icon,
.container .scards:nth-child(8) .icon {
  background-image: url("./images/icon-youtube.svg");
}
.container .cards:hover,
.container .scards:hover {
  background: var(--clr-hover);
}
.container .cards .red,
.container .scards .red {
  color: var(--clr-bright-red);
}
.container .up,
.container .down {
  width: 10px;
  height: 5px;
  display: inline-block;
  left: -7px;
  top: -2px;
  position: relative;
  background-image: url(./images/icon-up.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .down {
  background-image: url(./images/icon-down.svg);
}
@media only screen and (max-width: 499.98px) {
  .container .header {
    flex-direction: column;
  }
  .container .header .tag {
    margin-right: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--clr-card);
  }
  .container .header .color-switch {
    margin-top: 20px;
    justify-content: space-between;
  }
  .container .cards:not(:last-child),
.container .scards:not(:last-child) {
    margin-bottom: 0px;
  }
}
